
img.bg-white.rounded-circle{
  height: 3vh;
}

div.dropdown-menu.dropdown-menu-right{
  min-width: unset;
}


/*Bootstrap -xl*/
@media (min-width: 1200px) {

}

/*Bootstrap -lg*/
@media (min-width: 992px) and (max-width: 1199px) {

}

/*Bootstrap -md*/
@media (min-width: 768px) and (max-width: 991px) {

}

/*Bootstrap -sm*/
@media (min-width: 576px) and (max-width: 767px) {
  #UserName{
    display: none;
  }
}

/*Bootstrap -xs/none */
@media (max-width: 575px) {
  #UserName{
    display: none;
  }
}
