#navRowDesktop{
  flex-direction: row;
}



.navbar-logo{
  max-height: 80%;
  max-width: 80%;
  min-height: 50%;
}

ul.navbar-nav{
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

ul .navbar-nav:first-child > li { margin-right: auto; }

ul .navbar-nav:last-child  > li { margin-left: auto;  }

.navbar-toggler{

}



/*Bootstrap -xl*/
@media (min-width: 1200px) {
  #leftPartNavbarContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}


/*Bootstrap -lg*/
@media (min-width: 992px) and (max-width: 1199px) {
  #leftPartNavbarContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #rightPartNavbarContent{
    display: flex;
  }

}

/*Bootstrap -md*/
@media (min-width: 768px) and (max-width: 991px) {
  #leftPartNavbar{
    flex-direction: column;
    justify-content: flex-start;
  }
}

/*Bootstrap -sm*/
@media (min-width: 576px) and (max-width: 767px) {
  #leftPartNavbar{
      flex-direction: column;
    justify-content: flex-start;
  }
}

/*Bootstrap -xs/none */
@media (max-width: 575px) {

  #navRowDesktop{
    flex-direction: column-reverse;
  }

  ul.navbar-nav{
    flex: unset;
  }

  #leftPartNavbar{
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
  }
  #rightPartNavbar{
    flex: 4;
    flex-direction: column;
    justify-content: space-around;
  }

  .partMobileNavbar{
    flex: 2!important;
  }

  #centerMobileNavbar{
    flex: 1!important;
    max-height: 15vmin;
    padding: .5rem!important;
  }

  .navbar-logo{
    width: auto;
    height: auto;

    min-height: unset;

    margin: auto;
  }

  .navbar-brand.d-block.m-auto{
    margin: 0 !important;
    padding: 0 !important;
  }
}
