<div class="container">
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-dark">

    <!--Left Group-->
    <links>
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/random" mdbRippleRadius>
          <i class="fa fa-random"></i> Random
        </a>
        <a class="nav-item nav-link" routerLink="/tags" mdbRippleRadius>
          <i class="fa fa-tags"></i> Tags
        </a>
        <div class="nav-item navbar-text dropdown btn-group" dropdown>
          <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
            <span class="caret"><i class="fa fa-users"></i> {{ faUserDropdown }}</span>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary">
            <a class="dropdown-item waves-light" (click)="updateFaUserDropdown('Memers')" routerLink="/Memers" mdbRippleRadius>Memers</a>
            <a class="dropdown-item waves-light" (click)="updateFaUserDropdown('Groups')" routerLink="/Groups" mdbRippleRadius>Groups</a>
          </div>
        </div>
        <a class="d-flex d-lg-none nav-item nav-link" routerLink="/Memers" mdbRippleRadius>Memers</a>
        <a class="d-flex d-lg-none nav-item nav-link" routerLink="/Groups" mdbRippleRadius>Groups</a>
        <a class="nav-item nav-link" routerLink="/info" mdbRippleRadius>
          <i class="fa d-none d-xl-inline-flex fa-info-circle"></i> Info
        </a>
      </div>

      <div class="navbar-nav">
        <form class="form-inline waves-light" mdbRippleRadius>
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success btn-sm my-0 waves-light" type="submit" mdbRippleRadius>Search</button>
        </form>
      </div>
      <div class="navbar-nav">
        <app-user-logged-right-part-nav-bar *ngIf="logged; else visitorTmpl"></app-user-logged-right-part-nav-bar>
      </div>
    </links>

    <!-- Logo center-->
    <logo id="logoContainerPartNavbar" class="navbar-nav">
      <a id="desktopIndexLink" class="navbar-brand d-flex" routerLink="/index">
        <img id="horizontalLogo" class="navbar-logo my-auto d-none d-sm-inline-flex" src="assets/Pictures/G KA meme logo small.png">
      </a>
    </logo>
    <div class="navbar-nav">
      COUCOU
    </div>
  </mdb-navbar>
</div>

<ng-template #visitorTmpl>
  <app-visitor-right-part-nav-bar class="d-flex justify-content-around"></app-visitor-right-part-nav-bar>
</ng-template>
