

:host{/* ici = 'div' <app-sign-up></app-sign-up> */
  flex-grow: 2;
  display: flex;

}

.signIn-container{

}

#CentralBlockContainer{
  min-width: 65vmin;
  width: 65vmin;
  height: 65vmin;
  min-height: 65vmin;
  max-height: 65vmin;
  background: #530080;
  border: 1vw solid #530080;
  border-radius: 7vh;

  overflow: hidden;

  display: flex;
  flex-direction: row;
}

#PictureLeft{
  height: 100%;
  overflow: hidden;
  flex: 4;

  position: relative;
}

#PictureLeft > img{
  height: 100%;
  /* Avec position: relative; de #PictureLeft, permet de centrer l'image */
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

#rightForm{
  flex: 7;
  background: #530080;
}


/*Bootstrap -xl*/
@media (min-width: 1200px) {

}

/*Bootstrap -lg*/
@media (min-width: 992px) and (max-width: 1199px) {

}

/*Bootstrap -md*/
@media (min-width: 768px) and (max-width: 991px) {

}

/*Bootstrap -sm*/
@media (max-width: 767px) {
  #CentralBlockContainer{
    border:unset;
    flex-direction: column;
    max-height: 80vh;
    margin-top: 1em!important;
  }

  #PictureLeft{
    flex: 3;
  }

  #rightForm{
    flex: 15;
  }

  #PictureLeft > img {
    height: auto;
    width: 100%;
  }
}

