<li class="nav-item navbar-text d-flex">
  <form class="form-inline my-auto">
    <div class="btn-group d-none d-md-flex">
      <input class="form-control w-100" type="text" placeholder="Search" aria-label="Search">
      <label class="btn btn-secondary">
        <input type="submit" hidden><i class="fa fa-search"></i>
      </label>
    </div>
    <button class="navbar-toggler navbar-toggler-right d-inline-block d-md-none p-1 text-center" type="button" data-toggle="collapse" data-target="#mobileSearchBar" aria-controls="mobileSearchBar" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-search"></i>
      <p class="m-0">Search</p>
    </button>
    <ul id="mobileSearchBar" class="collapse navbar-collapse">
      <div class="btn-group d-flex d-md-none">
        <input class="form-control w-100" type="text" placeholder="Search" aria-label="Search">
        <label class="btn btn-secondary">
          <input type="submit" hidden><i class="fa fa-search"></i>
        </label>
      </div>
    </ul>
  </form>
</li>
