/* You can add global styles to this file, and also import other style files */

body{
  background: linear-gradient(-15deg, #13001f, #1a002b, #390059) !important;
  color: #430c85 !important;
}

app-root{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}


.loadingSite{
  max-height: 100vh;
  max-width: 100vw;
  height: auto;
  width: auto;
}

.btn-secondary{
  border-color: #ebcb07;
  background-color: #ebcb07;
}

.dropdown-item.active, .dropdown-item:active{
  background-color: #ebcb07;
}

.text-primary-color{
  color: #13001f;
}
.text-secondary-color{
  color: #ebcb07;
}
.text-tierce-color{
  color: #ff0000;
}

.border-0:active, .border-0:focus{
  border:none!important;
  outline:none;
}

@font-face{
  font-family: "Cooper Black";
  src: url(/assets/fonts/COOPBL.TTF) format("Serif");
}

.CopperBlack{
  font-family: "Cooper Black";
}

/*Bootstrap -xl*/
@media (min-width: 1200px) {

}

/*Bootstrap -lg*/
@media (min-width: 992px) and (max-width: 1199px) {

}

/*Bootstrap -md*/
@media (min-width: 768px) and (max-width: 991px) {

}

/*Bootstrap -sm*/
@media (min-width: 576px) and (max-width: 767px) {

}

/*Bootstrap -xs/none */
@media (max-width: 575px) {

}
